---
import Section from "@/components/Section.astro"
import { education } from "@cv"

const getDateYear = (date: string) => new Date(date).getUTCFullYear()
---

<Section title="Education">
  <ul class="flex flex-col gap-5 print:gap-1">
    {
      education.map(({ institution, url, area, startDate, endDate }) => {
        const startYear = getDateYear(startDate)
        const endYear = endDate != null ? getDateYear(endDate) : "Presente"
        const range = `${startYear} - ${endYear}`
        return (
          <li>
            <article class="flex flex-col gap-2">
              <header class="flex items-start justify-between">
                <div>
                  {url ? (
                    <a
                      href={url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="text-lg font-sans font-semibold hover:underline"
                    >
                      {institution}
                    </a>
                  ) : (
                    <h3 class="text-lg font-sans font-semibold">
                      {institution}
                    </h3>
                  )}
                  <h4 class="text-gray-500 dark:text-gray-300 dark:print:text-gray-500">
                    {area}
                  </h4>
                </div>
                <time class="text-gray-500 dark:text-gray-300 dark:print:text-gray-500">
                  {range}
                </time>
              </header>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>
