---
import { getRangeDateWithPresent } from "@/lib/dates"
import Section from "@/components/Section.astro"
import { work } from "@cv"

const sortedWork = work.toSorted((a, b) => {
  const dateA = new Date(a.startDate)
  const dateB = new Date(b.startDate)
  return dateB.getTime() - dateA.getTime()
})
---

<Section title="Experience">
  <ul class="flex flex-col gap-5 print:gap-5">
    {
      sortedWork.map(
        ({ name, position, url, summary, highlights, startDate, endDate }) => {
          const range = getRangeDateWithPresent(startDate, endDate)
          return (
            <li>
              <article class="flex flex-col gap-4">
                <header class="flex items-start justify-between">
                  <div>
                    {url ? (
                      <a
                        href={url}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-xl print:text-lg font-sans font-semibold hover:underline"
                      >
                        {name}
                      </a>
                    ) : (
                      <h3 class="text-xl print:text-lg font-sans font-semibold">
                        {name}
                      </h3>
                    )}
                    <h4 class="text-lg italic print:text-base">{position}</h4>
                  </div>
                  <time class="text-gray-500 dark:text-gray-300 dark:print:text-gray-500">
                    {range}
                  </time>
                </header>
                {summary && (
                  <div class="text-gray-600 leading-relaxed dark:text-gray-300 dark:print:text-gray-600" set:html={summary}></div>
                )}
                <ul class="list-inside text-gray-600 dark:text-gray-300 dark:print:text-gray-600">
                  {highlights.map((highlight) => (
                    <li>{highlight}</li>
                  ))}
                </ul>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  .list-inside > li::marker {
    content: "- ";
  }
</style>
