---
import Section from "@/components/Section.astro"
import { work } from "@cv"

const getYear = (date: string) => {
  return new Date(date).getUTCFullYear().toString()
}
const getMonthRange = (startDate: string, endDate: string) => {
  return new Intl.DateTimeFormat(`en-US`, {
    month: "short"
  }).formatRange(new Date(startDate), new Date(endDate))
}
---

<Section title="Experience">
  <ul class="flex flex-col gap-5">
    {
      work.map(
        ({ name, position, url, summary, highlights, startDate, endDate }) => {
          const startYear = getYear(startDate)
          const endYear = endDate != null ? getYear(endDate) : "Present"
          const range =
            startYear === endYear
              ? `${getMonthRange(startDate, endDate)}`
              : `${startYear} - ${endYear}`
          return (
            <li>
              <article class="flex flex-col gap-2">
                <header class="flex items-start justify-between">
                  <div>
                    {url ? (
                      <a
                        href={url}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-xl font-sans font-semibold hover:underline print:text-lg"
                      >
                        {name}
                      </a>
                    ) : (
                      <h3 class="text-xl font-sans font-semibold print:text-lg">{name}</h3>
                    )}
                    <h4 class="text-lg print:text-sm">{position}</h4>
                  </div>
                  <time class="text-gray-500 dark:text-gray-300 dark:print:text-gray-500">{range}</time>
                </header>
                {summary && <p class="print:text-sm text-gray-600 dark:text-gray-300 dark:print:text-gray-600">{summary}</p>}
                <ul class="list-disc list-inside print:text-sm text-gray-600 dark:text-gray-300 dark:print:text-gray-600">
                  {highlights.map((highlight) => (
                    <li>{highlight}</li>
                  ))}
                </ul>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>
