---
import Section from "@/components/Section.astro"
import { projects } from "@cv"
---

<Section title="Projects">
  <ul>
    {
      projects.map(({ name, url, description, highlights }) => {
        return (
          <li>
            <article class="flex flex-col gap-2 py-2 h-full rounded-lg print:py-1">
              <header class="grow flex flex-col gap-1.5">
                <a
                  href={url}
                  title={`Ver el proyecto ${name}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="relative w-fit after:contents-[''] after:absolute after:left-1/2 after:w-0 after:h-0.5 after:bg-gray-800 dark:after:bg-white hover:after:w-full hover:after:left-0 after:transition-all print:underline print:underline-offset-2"
                >
                  <h3 class="text-lg leading-none font-semibold">{name}</h3>
                </a>
                <p class="text-gray-600 dark:text-gray-300 dark:print:text-gray-600">{description}</p>
              </header>
              <footer class="print:hidden flex flex-wrap gap-1">
                {highlights.map((highlight) => {
                  return <span class="py-1 px-2 bg-gray-100 rounded-md text-xs text-gray-600 font-medium dark:bg-gray-700 dark:text-gray-400 dark:print:text-gray-600">{highlight}</span>
                })}
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem 2rem;
  }
</style>
