---
import { basics } from "@cv"
const { name, label, profiles } = basics

const SITE_TITLE = `${name} | Portfolio`
const SITE_DESCRIPTION = `Personal portfolio of ${name}, ${label}`
const hasTwitter = profiles.find((profile) => profile.network === "Twitter")
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>

    <!-- Open Graph -->
    <meta property="og:title" content={SITE_TITLE} />
    <meta property="og:description" content={SITE_DESCRIPTION} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/og-image.jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    {
      hasTwitter && (
        <meta name="twitter:creator" content={hasTwitter.username} />
      )
    }
    <meta name="twitter:title" content={SITE_TITLE} />
    <meta name="twitter:description" content={SITE_DESCRIPTION} />
    <meta name="twitter:image" content="/og-image.jpg" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family:
      Menlo,
      Monaco,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      monospace;
    letter-spacing: -0.025rem;
  }
  p {
    text-wrap: pretty;
  }
</style>
