---
import { basics } from "@cv"
const { name, label, profiles } = basics

const SITE_TITLE = `${name} | Resume`
const SITE_DESCRIPTION = label
const hasTwitter = profiles.find((profile) => profile.network === "Twitter")
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>

    <!-- Open Graph -->
    <meta property="og:title" content={SITE_TITLE} />
    <meta property="og:description" content={SITE_DESCRIPTION} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/og-image.jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    {
      hasTwitter && (
        <meta name="twitter:creator" content={hasTwitter.username} />
      )
    }
    <meta name="twitter:title" content={SITE_TITLE} />
    <meta name="twitter:description" content={SITE_DESCRIPTION} />
    <meta name="twitter:image" content="/og-image.jpg" />

    <!-- Styles -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net/fontsource" />
    <style>
      /* manrope-latin-wght-normal */
      @font-face {
        font-family: "Manrope";
        font-style: normal;
        font-display: swap;
        font-weight: 200 800;
        src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
      }
    </style>

    <!-- Detect dark mode -->
    <script>
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.add("dark")
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: "Roboto Mono", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  p {
    text-wrap: pretty;
  }
</style>
